html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.quill-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ql-container {
  flex: 1;
  overflow-y: auto;
}
